[Desktop Entry]
Encoding=UTF-8
Name=Rhenium
Comment=Rhenium P2P Cryptocurrency
Comment[fr]=Rhenium, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Rhenium, eşten eşe kriptografik sanal para birimi
Exec=Rhenium-qt %u
Terminal=false
Type=Application
Icon=Rhenium128
MimeType=x-scheme-handler/Rhenium;
Categories=Office;Finance;
